* {
    margin: 0;
    block-size: auto;
    scroll-margin-top: 3em; /*Salva la altura del nav para enlaces internos*/
    a {
        text-decoration: none;
        padding: 0.5em;
        color:  rgb(0, 0, 0); /* Color del texto para contraste */
    }
    
    a:hover {
        color:  rgb(122, 122, 121); /* Cambia el color del texto al pasar el cursor */
        text-decoration:underline overline;
    }
    
    a:visited {
        color:  rgb(0, 0, 0); /* Color del texto para contraste */
    }

}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;

}

header {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    background-color: rgb(218, 218, 29);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 250%;
        text-align: center;
        padding-bottom: 0.4em;
    }

    h2 {
        color:rgb(218, 218, 29);
        background-color: #000000;
        border: #000000 solid  3px;
        border-radius: 5px;
        padding: 0.3em;
        font-size: 3em;
        padding-left: 1.5em;
        padding-right: 1.5em;

    }

    h3 {
        font-style: oblique;
        font-size: 125%;
        align-self: flex-start;
        padding: 0.4em;
        margin-left: 2em;
    }

    h4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.3em;
        font-size: 1.5em;
    }



    img {
        width: auto; /* Ancho del 55% del contenedor */
        height: 50px; /* Altura de 150px */
        position: absolute; /* Posición absoluta para colocar la imagen */
        top: 5%; /* Separación del 5% desde la parte superior */
        left: 5%; /* Separación del 5% desde la izquierda */
    }
}

.name {
    font-size: 1em;
    align-self: flex-end;
}
.menu-header {
    align-self: flex-start;
    a {
        text-decoration: none;
        padding: 0.5em;
        color:  rgb(0, 0, 0); /* Color del texto para contraste */
    }
    
    a:hover {
        text-decoration:overline underline;
    }
    
    a:visited {
        color:  rgb(0, 0, 0); /* Mantiene el color del texto para enlaces visitados */
    }
}

.navbar {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: rgb(34, 33, 33);
    color: rgb(235, 235, 123);
    padding: 0.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: rgb(235, 235, 123);
    padding: 14px 20px;
    text-decoration: none;
}

/* Estilos para el menú desplegable */

.dropdown {
    float: left;
}

.dropdown .dropbtn {
    display: inline-block;
    color: rgb(235, 235, 123);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(34, 33, 33);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgb(34, 33, 33);
}

.dropdown-content a {
    color: rgb(235, 235, 123);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(235, 235, 123);
    color: rgb(34, 33, 33);
}



main {
    
    grid-column: 1 / 13;
    grid-row: 3 / 4;
    padding: 1em;
    background-color: rgb(230, 227, 227);
}

main h1 {
    margin-left: 2%; /* Margen izquierdo del 20% para h1 */
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente Verdana */
}

main h2 {
    margin-left: 4%; /* Margen izquierdo del 24% para h2 */
    margin-top: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente Verdana */
}

main h3 {
    margin-left: 6%; /* Margen izquierdo del 28% para h3 */
    margin-top: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif/* Fuente Verdana */
}

main h4 {
    margin-left: 8%; /* Margen izquierdo del 32% para h4 */
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente Verdana */
}

table {
    width: 90%;
    border-collapse: collapse;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f0ee;
    margin: 0 auto; /* Centra la tabla horizontalmente */
}

th {
    background-color: #c9c7c7; /* Fondo algo más oscuro */
    width: 20%; /* Ancho del th del 25% */
}

td {
    background-color: rgb(235, 235, 123);
}


th, td {
    border: 1px solid black;
    text-align: left;
    padding: 1rem;
}